./Carthage/Build/iOS/AppsFlyerTracker.framework/AppsFlyerTracker filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/Apptentive.framework/Apptentive filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/ApptentiveDebugging.framework/ApptentiveDebugging filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/Dwifft.framework/Dwifft filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/KIF.framework/KIF filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/Mantle.framework/Mantle filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/MarkdownParser.framework/MarkdownParser filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/Mixpanel.framework/Mixpanel filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OCMock.framework/OCMock filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OHHTTPStubs.framework/OHHTTPStubs filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKCore.framework/OptimizelySDKCore filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKDatafileManager.framework/OptimizelySDKDatafileManager filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKEventDispatcher.framework/OptimizelySDKEventDispatcher filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKShared.framework/OptimizelySDKShared filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKUserProfileService.framework/OptimizelySDKUserProfileService filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/OptimizelySDKiOS.framework/OptimizelySDKiOS filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/RMActionController.framework/RMActionController filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/RMPickerViewController.framework/RMPickerViewController filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/SDWebImage.framework/SDWebImage filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/SVProgressHUD.framework/SVProgressHUD filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/Stripe.framework/Stripe filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/SwiftyJSON.framework/SwiftyJSON filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/SwipeCellKit.framework/SwipeCellKit filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/TPKeyboardAvoidingKit.framework/TPKeyboardAvoidingKit filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/TrustKit.framework/TrustKit filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/UICKeyChainStore.framework/UICKeyChainStore filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/WebImage.framework/WebImage filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/*.framework/* filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/"*".framework/"*" filter=lfs diff=lfs merge=lfs -text
./Carthage/Build/iOS/*.framework/**/* filter=lfs diff=lfs merge=lfs -text
